demo-controls {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--layer-important);

  go-button.demo-control-btn {
    --go-btn-inner-gap: 1rem;
    .inner-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: var(--shadow-3);
    }
    transform: rotate(-90deg);
    transform-origin: right bottom;
  }
}

.demo-control-drawer {
  padding: var(--go-size-1);
  .demo-control-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--go-color-neutral-200);
    position: sticky;
    top: 0;
    padding-bottom: 1rem;
  }
  .demo-control-content {
    padding-top: 1rem;
    overflow: auto;
  }
}
