@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');
@import '~@go-ui/core/dist/go-ui/go-ui.css';
@import '~highlight.js/styles/github-dark.css';

@import '~@go-ui/core/src/global/scss/utils';

html {
  --header-height: 5.25rem;
  @include tablet {
    --header-height: 9.5rem;
  }
  scroll-padding-top: var(--header-height);
}
.page-main {
  min-height: calc(100vh - var(--header-height));
}

// docsearch a11y
.DocSearch-Button {
  --docsearch-searchbox-background: var(--go-color-secondary-200);
  --docsearch-muted-color: var(--go-color-neutral-800);
  @include transition(background-color);
}
