go-gov-au-logo {
  --divider-color: var(--go-color-darkest);
  --divider-width: 1px;
  --divider-gap: 0.5rem;
  .logo-wrapper {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .main-brand {
      img {
        display: block;
        height: var(--logo-height, 4rem);
      }
    }
    .divider {
      display: none;
      @include tablet {
        display: block;
        width: var(--divider-width);
        align-self: stretch;
        background-color: var(--divider-color);
        margin: 0 var(--divider-gap);
      }
    }
  }
}
