go-nav-link {
  --nav-link-padding: 0.25em 0;
  --nav-link-current-bar-width: 2px;
  --nav-link-current-bar-color: currentColor;
  --nav-link-hover-fg-color: var(--go-color-link-hover);
  --nav-link-hover-bg-color: var(--go-color-link-hover-bg);
  --nav-link-arrow-gap: var(--go-base-spacing);
  --nav-link-arrow-color: currentColor;
  --nav-link-arrow-color-hover: currentColor;
  --nav-link-align-y: center;
  --nav-link-radius: var(--radius-1);

  display: inline-flex;
  align-items: var(--nav-link-align-y);
  color: var(--go-color-link);
  position: relative;

  &[block] {
    display: flex;
    go-link {
      display: block;
      flex: 1;
    }
    .nav-item-link {
      display: flex;
    }
  }

  .nav-item-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: var(--nav-link-padding);
    border-radius: var(--nav-link-radius);
    border-left: var(--nav-link-current-bar-width) solid transparent;
    line-height: 1.5;
    text-decoration: none;

    &.current {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: var(--nav-link-current-bar-color);
      padding-left: 0.5rem;
    }

    go-icon {
      text-decoration: none;
    }
    svg.external-link-icon {
      flex: 0 0 auto;
      transform: none;
    }
    .arrow {
      @include transition(transform);

      stroke: var(--nav-link-arrow-color);
      flex: 0 0 auto;
      height: 1.25em;
      margin-left: calc(var(--nav-link-arrow-gap) + 4px);
      transform: translateX(-4px);
    }
  }

  a.nav-item-link {
    @include transition(background);
    .nav-link-text {
      @include underline;
    }

    &:hover,
    &:focus-visible {
      .nav-link-text {
        text-decoration: none;
      }
      .arrow {
        transform: translateX(0);
      }
    }
    &::after {
      // expand clickable area to include arrow
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
