@import '../../../global//scss/form/mixins';

go-fieldset {
  display: block;
  fieldset {
    padding: 0;
    border: none;
    legend {
      @include label-wrapper;
    }
    ul.fieldset-content {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin: 0;
        margin-bottom: var(--input-gap-inner);
      }
    }
  }
}
