go-icon {
  --icon-size: 1em;
  --icon-color: currentColor;

  &[icon-set^='material'] {
    --icon-size: 1.5em;
  }
  display: inline-block;
  line-height: 1;
  .go-icon {
    font-size: var(--icon-size);
    color: var(--icon-color);
  }
}
