go-header-bar {
  --header-bar-padding-y: 1rem;
  --header-bar-padding-x: 0;
  padding: var(--header-bar-padding-y) var(--header-bar-padding-x);
  display: flex;
  position: relative;
  .menu {
    position: absolute;
    top: var(--header-bar-padding-y);
    left: 0;
    @include tablet {
      position: static;
    }
  }
  .logo {
    flex-grow: 0;
    margin: 0 auto;
    @include tablet {
      margin: 0;
    }
  }
  .actions {
    position: absolute;
    top: var(--header-bar-padding-y);
    right: 0;
  }
  @include tablet {
    align-items: center;
  }
}
