go-main-nav {
  /**
    @prop --nav-outer-padding:
      Outer padding between container and nav items
      - default: 0.5rem
  */
  --nav-outer-padding: 0.5rem;

  /**
    @prop --nav-border-top:
      top border
      - default: 1px solid var(--go-color-neutral-200)
  */
  --nav-border-top: 1px solid var(--go-color-neutral-200);
  /**
    @prop --nav-border-bottom:
      bottom border
      - default: 1px solid var(--go-color-neutral-200)
  */
  --nav-border-bottom: 1px solid var(--go-color-neutral-200);
  /**
    @prop --nav-bg-color:
    background of nav container
    - default: transparent
  */
  --nav-bg-color: transparent;
  /**
    @prop --nav-shadow:
    shadow of nav container
    - default: var(--shadow-2)
  */
  --nav-shadow: var(--shadow-2);
  /**
    @prop --nav-item-fw:
    nav item font weight
    - default: 500
  */
  --nav-item-fw: 500;

  --nav-item-text-color: var(--go-color-neutral-800);
  --nav-item-bg-color: var(--nav-bg-color);

  --nav-item-hover-text-color: var(--go-color-darkest);
  --nav-item-hover-bg-color: var(--go-color-neutral-200);

  --nav-item-active-text-color: var(--go-color-darkest);
  --nav-item-active-bg-color: var(--go-color-neutral-200);

  --nav-item-current-text-color: var(--go-color-neutral-100);
  --nav-item-current-bg-color: var(--go-color-neutral-900);
  --nav-item-current-fw: 700;

  --nav-item-open-bg-color: var(--go-color-neutral-900);
  --nav-item-open-text-color: var(--go-color-neutral-100);

  --nav-item-gap: 0.5rem;
  --nav-item-padding: 0.25em 0.5em;
  --nav-item-radius: 0.25em;
  --nav-item-icon-gap: 0.5rem;
  --nav-item-current-border-width: 2px;
  --nav-item-current-border-color: var(--go-color-primary-600);

  /**
    @prop --submenu-width:
    width of submenu
    - default: auto
  */
  --submenu-width: auto;
  --submenu-bg-color: var(--go-color-neutral-100);
  --submenu-border-radius: var(--radius-2);
  --submenu-border-width: 2px;
  --submenu-border-color: var(--go-color-neutral-500);

  @include theme-dark() {
    --submenu-bg-color: var(--go-color-neutral-500);
    --submenu-border-color: var(--go-color-neutral-800);
  }
  --submenu-padding-y: var(--go-size-0);
  --submenu-padding-x: var(--go-size-1);
  --submenu-link-padding: 8px;
  --submenu-link-hover-bg-color: var(--go-color-neutral-200);
  /**
    @prop --submenu-description-color:
      text color for submenu description text
      - default: var(--go-color-neutral-700)
  */
  --submenu-description-color: var(--go-color-neutral-700);

  /**
    @prop --submenu-separator-color:
      border color separator between submenu header and list
      - default: var(--go-color-neutral-200)
  */
  --submenu-separator-color: var(--go-color-neutral-200);

  /**
    @prop --submenu-indent:
      submenu indent
      - default: 1rem
  */
  --submenu-indent: 1rem;

  /**
    @prop --submenu-tail-size:
      submenu tail size
      - default: 1em
  */
  --submenu-tail-size: 1em;

  /**
      @prop --submenu-tail-offset-x:
      set the horizontal offset from the tail to left edge of parent menu
      - default: 1rem
    */
  --submenu-tail-offset-x: 1rem;
  /**
    @prop --submenu-z-index:
      submenu z-index
      - default: var(--layer-important)
  */
  --submenu-z-index: var(--layer-important);

  display: block;
  box-shadow: var(--nav-shadow);
  border-top: var(--nav-border-top);
  border-bottom: var(--nav-border-bottom);
  padding: var(--nav-outer-padding);
  ul {
    list-style: none;
  }
  > nav {
    background: var(--nav-bg-color);
    .nav-menu-root {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      gap: var(--nav-item-gap);
      align-items: stretch;
      flex-wrap: nowrap;
      position: relative;
    }
    .nav-item {
      .nav-item-inner {
        @include reset-btn;

        font-weight: var(--nav-item-fw);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--nav-item-padding);
        color: var(--nav-item-text-color);
        text-decoration: none;
        background: var(--nav-item-bg-color);
        border: var(--nav-item-current-border-width) solid transparent;
        border-radius: var(--nav-item-radius);
        @include transition(background, border-color);
        &:hover,
        &:focus {
          border-radius: var(--nav-item-radius);
          background: var(--nav-item-hover-bg-color);
          color: var(--nav-item-hover-text-color);
        }

        &:active {
          background: var(--nav-item-active-bg-color);
          color: var(--nav-item-active-text-color);
        }

        svg {
          @include transition(transform);

          margin-left: 0.5rem;
          width: 1em;
          height: 1em;
          transform: translateX(0);
        }

        .nav-item-label {
          display: flex;
          align-items: center;
          gap: var(--nav-item-icon-gap);
        }
      }

      &.current {
        .nav-item-inner {
          background: var(--nav-item-current-bg-color);
          color: var(--nav-item-current-text-color);
          font-weight: var(--nav-item-current-fw);
        }
      }

      .parent-link {
        svg {
          width: 40px;
        }
      }

      // new structure
      .submenu-container {
        @include transition(opacity, visibility);
        --submenu-border: var(--submenu-border-width) solid var(--submenu-border-color);

        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: calc(100% + var(--submenu-tail-size));
        max-width: 100%;
        width: var(--submenu-width);
        z-index: var(--submenu-z-index);
        box-shadow: var(--nav-shadow);
        padding: var(--submenu-padding-y) var(--submenu-padding-x);
        background: var(--submenu-bg-color);
        border-radius: var(--submenu-border-radius);
        border: var(--submenu-border);

        &::before {
          content: '';
          width: var(--submenu-tail-size);
          height: var(--submenu-tail-size);
          background: var(--submenu-bg-color);
          position: absolute;
          top: calc(-1 * var(--submenu-border-width) / 2);
          left: var(--submenu-tail-offset-x);
          transform: translate(0, -50%) rotate(45deg);
          border: var(--submenu-border);
          border-right: none;
          border-bottom: none;
          z-index: 9;
        }

        .submenu-header {
          padding: 0.5rem 0;
          margin-bottom: 0;
          border-bottom: 1px solid var(--submenu-separator-color);
          svg {
            width: 1.5em;
            height: 1.5em;
          }
          h5 {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
        }
        .submenu-list {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 0.75rem;
        }
      }
      &.open {
        .nav-item-inner {
          background: var(--nav-item-open-bg-color);
          color: var(--nav-item-open-text-color);
          svg {
            transform: rotate(180deg);
          }
        }
        .submenu-container {
          visibility: visible;
          opacity: 1;
          box-shadow: var(--shadow-2);
        }
      }
    }

    .submenu {
      > ul {
        padding-left: 0;
      }
      ul {
        padding-left: var(--submenu-indent);
      }
      go-nav-link {
        display: block;
      }
    }
  }

  go-nav-link {
    --nav-link-padding: var(--submenu-link-padding);
    .nav-item-link .nav-link-text {
      text-decoration: none;
    }
  }
}
