@import './utils/mixins';
// define CSS variables for light color scheme
// default to light theme
:root {
  color-scheme: light;
  @include go-color-scheme-light;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    @include go-color-scheme-dark;
  }
}
// theme overwrites
[color-scheme='light'],
[data-theme='light'] {
  color-scheme: light;
  @include go-color-scheme-light;
}
[color-scheme='dark'],
[data-theme='dark'] {
  color-scheme: dark;
  @include go-color-scheme-dark;
}

// color util classes: .bg-xx .text-xx .border-xx
