/*********************

Default set of CSS variables used in Go UI

*********************/

// load external google font
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@0,400;0,700;1,400&display=swap');

// load color tokens
@import './themes/tokens';

/* @link https://utopia.fyi/type/calculator?c=768,16,1.25,1400,18,1.25,7,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --go-size--1: clamp(0.8rem, 0.68rem + 0.25vw, 0.9rem);
  --go-size-0: clamp(1rem, 0.85rem + 0.32vw, 1.13rem);
  --go-size-1: clamp(1.25rem, 1.06rem + 0.4vw, 1.41rem);
  --go-size-2: clamp(1.56rem, 1.32rem + 0.5vw, 1.76rem);
  --go-size-3: clamp(1.95rem, 1.66rem + 0.62vw, 2.2rem);
  --go-size-4: clamp(2.44rem, 2.07rem + 0.77vw, 2.75rem);
  --go-size-5: clamp(3.05rem, 2.59rem + 0.97vw, 3.43rem);
  --go-size-6: clamp(3.82rem, 3.24rem + 1.21vw, 4.29rem);
  --go-size-7: clamp(4.77rem, 4.04rem + 1.51vw, 5.36rem);

  // Grid
  --go-outer-gutter: 1rem; // Container gutter
  --go-col-gap: 0; // Gap between columns

  // Typography
  --go-heading-font-family: 'Public Sans', sans-serif;
  --go-body-font-family: 'Public Sans', sans-serif;

  // Focus styles
  --go-focus-outline-width: 2px;
  --go-focus-outline-color: var(--go-color-primary, #000);
  --go-focus-outline-offset: 2px;

  // Colours (other than tokens)
  --go-color-bg: var(--go-color-lightest);
  --go-color-text: var(--go-color-darkest);
  --go-color-link: var(--go-color-secondary-800);
  --go-color-link-hover: var(--go-color-secondary-800);
  --go-color-link-hover-bg: var(--go-color-neutral-200);

  // Transitions
  --go-duration-fast: 0.1s;
  --go-duration-normal: 0.2s;
  --go-duration-slow: 0.5s;
  --go-timing-function: ease-in-out;

  // Spacing
  --go-base-spacing: 0.25rem;
}
