// CSS Variables
@import './themes/tokens';

:root,
html {
  // Grid
  --go-outer-gutter: 1rem; // Container gutter
  --go-col-gap: 0; // Gap between columns

  // Typography
  --go-heading-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --go-body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --go-border-width-thin: 1px;
  --go-border-width-thick: 0.5rem;
}
