/* @link https://utopia.fyi/type/calculator?c=768,16,1.25,1400,18,1.25,7,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --go-text-size--1: clamp(0.8rem, 0.68rem + 0.25vw, 0.9rem);
  --go-text-size-0: clamp(1rem, 0.85rem + 0.32vw, 1.13rem);
  --go-text-size-1: clamp(1.25rem, 1.06rem + 0.4vw, 1.41rem);
  --go-text-size-2: clamp(1.56rem, 1.32rem + 0.5vw, 1.76rem);
  --go-text-size-3: clamp(1.95rem, 1.66rem + 0.62vw, 2.2rem);
  --go-text-size-4: clamp(2.44rem, 2.07rem + 0.77vw, 2.75rem);
  --go-text-size-5: clamp(3.05rem, 2.59rem + 0.97vw, 3.43rem);
  --go-text-size-6: clamp(3.82rem, 3.24rem + 1.21vw, 4.29rem);
  --go-text-size-7: clamp(4.77rem, 4.04rem + 1.51vw, 5.36rem);
}

@mixin text-size($scale) {
  font-size: var(--go-text-size-#{$scale});
}
@mixin typo($type-level, $details) {
  margin: 0;
  @include text-size(map-get($details, 'size'));
  font-weight: map-get($details, 'weight');
  line-height: map-get($details, 'line-height');
  letter-spacing: map-get($details, 'letter-spacing');
}

// utility classes for text sizes
@for $i from -1 through 7 {
  .text-size-#{$i} {
    @include text-size($i);
  }
}

// heading font-sizes
@each $type-level, $details in $typography {
  @if map-get($details, 'tag') {
    #{$type-level},
    .#{$type-level} {
      @include typo($type-level, $details);
    }
  } @else {
    .text-#{$type-level} {
      @include typo($type-level, $details);
    }
  }
}

// Root font family
html,
body {
  font-family: var(--go-body-font-family, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif);
  font-size: var(--go-text-size-0, 1rem);
}

//----------------------------------
// Style native html elements
//----------------------------------
blockquote {
  font-style: italic;
  font-size: var(--go-text-size-0);
  border-left: var(--go-border-width-thick) solid var(--go-color-neutral-100);
  margin: 0;
  padding-left: 2rem;
}
p {
  line-height: 1.5;
}
code {
  padding: 0 0.4em;
}
// text alignments
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-justify {
  text-align: justify;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// external links
a[target='_blank'] {
  &::after {
    content: ' \2197';
  }
}
