@mixin text-size($scale) {
  font-size: var(--go-size-#{$scale});
}
@mixin typo($type-level, $details) {
  margin: 0;
  @include text-size(map-get($details, 'size'));

  font-weight: map-get($details, 'weight');
  line-height: map-get($details, 'line-height');
  letter-spacing: map-get($details, 'letter-spacing');
}

// utility classes for text sizes
@for $i from -1 through 8 {
  .text-size-#{$i} {
    @include text-size($i);
  }
}

// heading font-sizes
@each $type-level, $details in $typography {
  @if map-get($details, 'tag') {
    #{$type-level},
    .#{$type-level} {
      @include typo($type-level, $details);
    }
  } @else {
    .text-#{$type-level} {
      @include typo($type-level, $details);
    }
  }
}

// Root font family
html,
body {
  font-family: var(--go-body-font-family, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif);
  font-size: var(--go-size-0, 1rem);
}

// ----------------------------------
// Style native html elements
// ----------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(
    --go-heading-font-family,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif
  );
}
blockquote {
  font-style: italic;
  font-size: var(--go-size-0);
  border-left: var(--go-border-width-thick) solid var(--go-color-neutral-100);
  margin: 0;
  padding-left: 2rem;
}
p {
  line-height: 1.5;
}
code {
  padding: 0 0.4em;
}

// text alignments
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-justify {
  text-align: justify;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.font-heading {
  font-family: var(--go-heading-font-family);
}

a {
  color: var(--go-color-link);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  &:hover,
  &:focus-visible {
    color: var(--go-color-link-hover);
    background-color: var(--go-color-link-hover-bg);
    text-decoration: none;
  }
}
