go-tabs {
  --tab-padding: 0.75rem 1.25rem;
  --tab-bg-color: transparent;
  --tab-hover-bg-color: var(--go-color-neutral-200);
  --tab-text-color: var(--go-color-neutral-700);
  --tab-focus-color: var(--go-color-primary-600);
  --tab-active-color: var(--go-color-primary-800);
  --tab-active-bg-color: transparent;
  --tab-border-width: 0.2em;
  --tab-active-indicator-color: var(--tab-active-color);
  --tabs-active-indicator-width: 0;
  --tabs-active-indicator-height: 0.2em;
  --tabs-active-indicator-color: var(--tab-active-color);
  --tabs-vertical-tablist-basis: 25%;
  --tabs-tablist-gap: 1rem;

  display: flex;
  flex-direction: column;
  gap: var(--tabs-tablist-gap);

  [role='tablist'] {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
  }
  [role='tab'] {
    padding: var(--tab-padding);
    border: var(--tab-border-width) solid transparent;
    white-space: nowrap;
    background: var(--tab-bg-color);
    color: var(--tab-text-color);
    font-weight: 700;
    @include transition(background-color, color);

    &:hover,
    &:focus {
      outline: 0; // stylelint-disable-line a11y/no-outline-none
      background: var(--tab-hover-bg-color);
    }
    &:focus-visible {
      border-top-color: var(--tab-focus-color);
      text-decoration: underline;
      text-underline-offset: 4px;
    }
    &:not(.active) {
      cursor: pointer;
    }
    &[aria-selected='true'] {
      background: var(--tab-active-bg-color);

      // border-bottom-color: var(--tab-active-color);
      color: var(--tab-active-color);
      text-decoration: none;
    }
  }

  .tabs-active-indicator-track {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    .tabs-active-indicator {
      @include transition(transform, width, height);

      transform: translateX(var(--tabs-active-indicator-left));
      width: var(--tabs-active-indicator-width);
      height: var(--tabs-active-indicator-height);
      border-radius: var(--radius-round);
      background: var(--tabs-active-indicator-color);
    }
  }
  &.vertical {
    flex-direction: row;
    [role='tablist'] {
      flex-direction: column;
      flex: 0 0 var(--tabs-vertical-tablist-basis, 25%);
      .tabs-active-indicator-track {
        width: auto;
        top: 0;
        left: auto;
        .tabs-active-indicator {
          --tabs-active-indicator-width: 4px;

          transform: translateY(var(--tabs-active-indicator-top));
        }
      }
    }
    [role='tab'] {
      text-align: left;
      white-space: normal;
      &:focus-visible {
        border-top-color: transparent;
        border-left-color: var(--tab-focus-color);
      }
    }
  }
}
