go-nav-list {
  --nav-list-header-padding: var(--go-base-spacing) 0;
  --nav-list-header-gap: 0;
  --nav-list-header-text-color: var(--go-color-text);

  display: inline-block;
  &[block] {
    display: block;
  }

  .nav-list-header {
    margin-top: var(--nav-list-header-gap);
    font-size: var(--go-size-0);
    color: var(--nav-list-header-text-color);
    margin-bottom: 1rem;

    // border-bottom: 1px solid var(--go-color-neutral-300);
    .nav-list-header-text {
      display: flex;
      line-height: 1.5;
      padding: var(--nav-list-header-padding);
    }
  }
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .nav-item-link {
      font-size: 1rem;
      margin: 0.25rem 0;
    }
  }
}
