@import 'normalize.min.css';
@import './scss/utils';

// Use Open props to define utility variables
// https://open-props.style/#sizes
@import '~open-props/sizes.min.css';

// https://open-props.style/#borders
@import '~open-props/borders.min.css';

// https://open-props.style/#shadows
@import '~open-props/shadows.min.css';

// https://open-props.style/#z-index
@import '~open-props/zindex.min.css';

@import './scss/css_variables';
@import './scss/colors';
@import './scss/grid';
@import './scss/typography';
@import './scss/display';

html,
body {
  scroll-behavior: smooth;
  @include reduced-motion {
    scroll-behavior: auto;
  }
}
* {
  box-sizing: border-box;
}
