// Put scss variables here

//----------------------------------
// Grid
//----------------------------------
// Grid breakpoints
$breakpoints: (
  tablet: 768px,
  desktop: 1200px,
) !default;

// Grid containers
$container-max-widths: (
  tablet: 720px,
  desktop: 1140px,
) !default;

// Grid columns
$grid-columns: 12 !default;

//----------------------------------
// Typography
//----------------------------------
$base-font-size: var(--go-base-font-size, 1rem) !default;

// sets base font-size for different breakpoints
$font-responsive-scales: (
  tablet: var(--go-font-tablet-scale, 1),
  desktop: var(--go-font-desktop-scale, 1.1),
) !default;

$typography: (
  h1: (
    weight: 700,
    size: 2.8,
    line-height: 1.5,
    tag: true,
  ),
  h2: (
    weight: 700,
    size: 2.4,
    line-height: 1.3,
    tag: true,
  ),
  h3: (
    weight: 700,
    size: 2,
    line-height: 1.5,
    tag: true,
  ),
  h4: (
    weight: 700,
    size: 1.8,
    line-height: 1.5,
    tag: true,
  ),
  h5: (
    weight: 700,
    size: 1.25,
    line-height: 1.5,
    tag: true,
  ),
  h6: (
    weight: 700,
    size: 1,
    line-height: 1.5,
    tag: true,
  ),
  big: (
    weight: 400,
    size: 1.25,
    line-height: 1.5,
  ),
  body: (
    weight: 400,
    size: 1,
    line-height: 1.5,
  ),
  small: (
    weight: 400,
    size: 0.75,
    line-height: 1.5,
  ),
) !default;

//----------------------------------
// Colors
//----------------------------------
// Sass variables are used to generate CSS variables.
$color-shades: 9 !default;
$color-categories: primary, secondary, success, error, neutral !default;
$color-categories-extreme: darkest, lightest !default;
