go-link {
  .external-link-icon {
    height: 1em;
    fill: currentColor;
    transform: translate(10%, 15%);
  }

  .expand {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
