page-transition {
  display: block;

  &.loaded {
    main {
      animation: fade-in-up var(--go-duration-normal) ease forwards;
    }
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
