<go-tabs>
  <go-tab label="Tab First">test 1</go-tab>
  <go-tab label="Tab 2"> tab 2 content </go-tab>
  <go-tab label="Tab Third"> tab 3 content </go-tab>
  <go-tab label="Tab First">test 1</go-tab>
  <go-tab label="Tab 2"> tab 2 content </go-tab>
  <go-tab label="Tab Third"> tab 3 content </go-tab>
  <go-tab label="Tab First">test 1</go-tab>
  <go-tab label="Tab 2"> tab 2 content </go-tab>
  <go-tab label="Tab Third"> tab 3 content </go-tab>
  <go-tab label="Tab First">test 1</go-tab>
  <go-tab label="Tab 2"> tab 2 content </go-tab>
  <go-tab label="Tab Third"> tab 3 content </go-tab>
  <go-tab label="Tab First" active>test 1</go-tab>
  <go-tab label="Tab 2"> tab 2 content </go-tab>
  <go-tab label="Tab Third"> tab 3 content </go-tab>
</go-tabs>
