:root {
  /**
    @prop --go-card-outer-padding:
      Outer padding of card.
  */
  --go-card-outer-padding: 2rem 1rem;

  /**
    @prop --go-card-inner-gap:
      Gap size in between inner sections of card. ie. title, content, footer
  */
  --go-card-inner-gap: 1rem;

  /**
    @prop --go-card-bg:
      Background colour of card
  */
  --go-card-bg: var(--go-color-bg);

  /**
    @prop --go-card-fg:
      Foreground (text) color for the card
  */
  --go-card-fg: var(--go-color-text);

  /**
    @prop --go-card-title-font-size:
      Font size of card title text
  */
  --go-card-title-font-size: var(--go-size-3);

  /**
    @prop --go-card-title-font-weight:
      Font weight of card title text
  */
  --go-card-title-font-weight: 500;

  /**
    @prop --go-card-title-color:
      Text colour of card title
  */
  --go-card-title-color: var(--go-card-fg);

  /**
    @prop --go-card-subtitle-font-size:
      Font size of subtitle
  */
  --go-card-subtitle-font-size: var(--go-size-1);

  /**
    @prop --go-card-subtitle-font-weight:
      Font weight of subtitle
  */
  --go-card-subtitle-font-weight: 400;

  /**
    @prop --go-card-subtitle-text-color:
      Text colour of subtitle
  */
  --go-card-subtitle-color: var(--go-color-neutral-600);

  /**
    @prop --go-card-border-width:
      Border width for `bordered` card
      - default: 2px
  */
  --go-card-border-width: 2px;

  /**
    @prop --go-card-media-basis:
      Flex basis for media position = left|right
  */
  --go-card-media-basis: 40%;

  /**
    @prop --go-card-media-height:
      Height of media for media position = top|bottom
  */
  --go-card-media-height: auto;

  /**
    @prop --go-card-media-aspect-ratio:
      Aspect ratio for media for when media position = top|bottom
  */
  --go-card-media-aspect-ratio: auto;

  /**
    @prop --go-card-media-object-position: [Object-position rule](https://developer.mozilla.org/en-US/docs/Web/CSS/object-position) for the media. default: center
  */
  --go-card-media-object-position: center;

  /**
    @prop --go-card-radius:
      Border radius for card
  */
  --go-card-radius: var(--radius-3);

  /**
    @prop --go-card-shadow:
      Card shadow
  */
  --go-card-shadow: var(--shadow-3);

}
