go-search-bar {
  --search-form-text-color: var(--go-color-lightest);
  --search-form-overlay-bg: transparent;
  --search-form-padding-y: 1rem;
  --search-form-padding-x: 0;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
