go-dropdown {
  --dropdown-shadow: var(--shadow-2);
  --dropdown-bg-color: transparent;
  --dropdown-width: 14rem;
  --dropdown-transition-duration: var(--go-duration-fast);

  @include transition(opacity var(--dropdown-transition-duration), visibility, transform var(--dropdown-transition-duration));
  position: absolute;
  visibility: hidden;
  opacity: 0;
  box-shadow: var(--dropdown-shadow);
  pointer-events: none;
  z-index: 1;
  transform: translateY(-5px);
  width: var(--dropdown-width);
  .dropdown-content {
    background-color: var(--dropdown-bg-color);
  }

  &.flip {
    transform: translateY(5px);
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
    pointer-events: inherit;
    transform: translateY(0);
  }
}
