go-dropdown {
  --dropdown-shadow: var(--shadow-2);
  --dropdown-bg-color: var(--go-color-neutral-100);
  --dropdown-width: 14rem;
  --dropdown-transition-duration: var(--go-duration-normal);

  /**
    @prop --dropdown-radius:
      Border radius of dropdown
      - default: var(--radius-2)
  */
  --dropdown-radius: var(--radius-2);

  @include transition(opacity var(--dropdown-transition-duration), visibility, transform var(--dropdown-transition-duration));
  position: absolute;
  visibility: hidden;
  opacity: 0;
  box-shadow: var(--dropdown-shadow);
  pointer-events: none;
  z-index: 1;
  transform: translateY(-5px);
  transform-origin: top;
  width: var(--dropdown-width);
  background-color: var(--dropdown-bg-color);
  border-radius: var(--dropdown-radius);
  &.flip {
    transform-origin: bottom;
    transform: translateY(5px);
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
    pointer-events: inherit;
    transform: translateY(0);
  }
}
