.hero {
  flex-direction: column;
  padding: 6rem;
  text-align: center;
  background: transparent;
  .hero__logo {
    width: 12rem;
  }
  .hero__title {
    margin-top: 1rem;
    font-size: 4rem;
  }
  .hero__text {
    width: 100%;
  }
  .Typewriter {
    font-style: italic;
    display: inline-block;
    color: teal;
    margin-left: 0.5ch;
  }
}
