go-main-nav {
  --nav-bg-color: var(--go-color-neutral-100);
  --nav-shadow: var(--shadow-2);
  --nav-item-text-color: var(--go-color-darkest);
  --nav-item-bg-color: var(--go-color-neutral-100);
  --nav-item-hover-bg-color: var(--go-color-lightest);
  --nav-item-active-bg-color: var(--go-color-bg);
  --nav-item-current-bg-color: var(--nav-item-bg-color);
  --nav-item-padding: var(--go-size--1) var(--go-size-0);
  --nav-item-icon-gap: 0.5rem;
  --nav-item-current-bar-width: 4px;
  --nav-item-current-bar-color: var(--go-color-primary-600);
  --submenu-bg-color: var(--nav-item-active-bg-color);
  --submenu-padding-y: var(--go-size-0);
  --submenu-padding-x: var(--go-size-1);
  --submenu-max-height: 10rem;
  --submenu-link-padding: 8px;
  --submenu-link-hover-bg-color: var(--go-color-neutral-200);

  display: block;
  box-shadow: var(--nav-shadow);

  ul {
    list-style: none;
    padding-inline-start: 2ch;
  }
  > nav {
    background: var(--nav-bg-color);
    .nav-menu-root {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: nowrap;
      position: relative;
    }
    .nav-item {
      .nav-item-inner {
        @include reset-btn;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--nav-item-padding);
        color: var(--nav-item-text-color);
        text-decoration: none;
        background: var(--nav-item-bg-color);
        border-bottom: var(--nav-item-current-bar-width) solid transparent;
        &:hover,
        &:focus {
          background: var(--nav-item-hover-bg-color);
        }

        svg {
          @include transition(transform);

          margin-left: 0.5rem;
          width: 1.25em;
          height: 1.25em;
          transform: translateX(0);
        }

        .nav-item-label {
          display: flex;
          align-items: center;
          gap: var(--nav-item-icon-gap);
        }
      }

      &.current {
        .nav-item-inner {
          --nav-item-bg-color: var(--nav-item-current-bg-color);

          border-bottom-color: var(--nav-item-current-bar-color);
        }
      }

      .parent-link {
        svg {
          width: 40px;
        }
      }

      // new structure
      .submenu-container {
        @include transition(opacity, visibility);

        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        box-shadow: var(--nav-shadow);
        padding: var(--submenu-padding-y) var(--submenu-padding-x);
        background: var(--submenu-bg-color);
        > .submenu-header {
          border-bottom: 1px solid var(--go-color-neutral-200);
          padding: 0.5rem 0;
          margin-bottom: var(--submenu-padding-y);
          svg {
            width: 1em;
          }
          h5 {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
          .description {
            color: var(--go-color-neutral-700);
          }
        }
        .submenu-list {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 0.75rem;
          max-height: var(--submenu-max-height);
          overflow-y: auto;
        }
      }
      &.active {
        background: var(--nav-item-active-bg-color);
        .nav-item-inner {
          svg {
            transform: rotate(180deg);
          }
        }
        .submenu-container {
          visibility: visible;
          opacity: 1;
          box-shadow: var(--shadow-2);
        }
      }
    }

    .submenu {
      ul {
        border-top: 1px solid var(--go-color-secondary-100);
      }
      go-nav-link {
        display: block;
      }
    }
  }

  go-nav-link {
    --nav-link-padding: var(--submenu-link-padding);
    .nav-item-link .nav-link-text {
      text-decoration: none;
    }
  }
}
