.demo-container {
  margin: 2rem 0;
  padding-right: 28px;
  iframe {
    background: #fff;
  }

  /* mimic browser window */
  .fake-browser {
    --browser-window-bg: var(--go-color-neutral-100);
    --browser-frame-width: 100%;
    --browser-resize-handle-hover-bg: var(--go-color-neutral-200);
    --browser-resize-handle-size: 28px;
    --browser-resize-handle-text-color: var(--go-color-neutral-900);
    --browser-window-radius: 4px;
    --demo-frame-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    --demo-frame-border: 1px solid var(--go-color-neutral-200, #ccc);
    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      border-top-left-radius: var(--browser-window-radius);
      border-top-right-radius: var(--browser-window-radius);
      background: var(--browser-window-bg);
      border: var(--demo-frame-border);
      position: relative;
      z-index: 99;
      .dots {
        display: flex;
        gap: 0.5em;
        .dot {
          display: block;
          width: 0.8em;
          height: 0.8em;
          border-radius: 50%;
          &:nth-child(1) {
            background-color: #ff605c;
          }
          &:nth-child(2) {
            background-color: #ffbd44;
          }
          &:nth-child(3) {
            background-color: #00ca4e;
          }
        }
      }
    }

    .content {
      position: relative;
      border: var(--demo-frame-border);
      border-top: none;
      height: var(--min-frame-height, 400px);

      .resize-handle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: var(--browser-resize-handle-text-color);
        user-select: none;
        border: var(--demo-frame-border);
        background: var(--browser-window-bg);
        z-index: 8;
        &:hover,
        &:focus-visible {
          background: var(--browser-resize-handle-hover-bg);
        }
        &.x-axis {
          top: 0;
          left: var(--browser-frame-width);
          bottom: 0;
          width: var(--browser-resize-handle-size);
          height: 100%;
          cursor: col-resize;
          border-bottom-right-radius: var(--browser-window-radius);
        }
        &.y-axis {
          transition: none;
          top: 100%;
          left: 0;
          bottom: auto;
          width: 100%;
          height: var(--browser-resize-handle-size);
          cursor: row-resize;
          border-bottom-left-radius: var(--browser-window-radius);
          border-bottom-right-radius: var(--browser-window-radius);
          > span {
            transform: rotate(90deg);
          }
        }
      }
      .frame-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        .resize-overlay {
          position: absolute;
          inset: 0;
          z-index: 10;
        }
        iframe {
          width: 100%;
          max-width: 100%;
          height: 100%;
          position: relative;
          z-index: 9;
        }
      }
      .loading-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        background: rgb(var(--go-token-neutral-100));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
      }
    }
  }

  .devices {
    display: flex;
    gap: 1rem;
    align-items: center;
    button {
      margin: 0;
      border: none;
      background: none;
      display: block;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 2rem;
      height: 2rem;
      font-size: 0.8rem;
      border-radius: 50%;
      &:hover,
      &:focus-visible {
        background: #666;
        color: white;
      }
    }
    svg {
      width: 1rem;
      height: auto;
    }
  }

  details.source-code {
    padding: 0.5em 0.5em 0;
    summary {
      border: 1px solid var(--ifm-color-primary-light);
      background: var(--ifm-color-primary-contrast-background);
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      padding: 1rem 0.5rem;
    }

    &[open] {
      padding: 0.5em;
    }

    &[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: 0.5em;
    }
  }
}
