go-footer {
  --footer-section-padding: 2rem 0;
  --footer-nav-section-padding: 3rem 0;
  --footer-bottom-section-padding: var(--footer-section-padding);
  --footer-copyright-section-padding: var(--footer-section-padding);

  // colours
  --footer-bg-color: var(--go-color-lightest);
  --footer-text-color: var(--go-color-text);
  --footer-link-color: var(--footer-text-color);
  --footer-link-color-hover: var(--go-color-success-900);
  --footer-link-bg-color-hover: transparent;

  display: block;
  background: var(--footer-bg-color);
  color: var(--footer-text-color);

  &.dark {
    // dark theme, use tokens to fix colours regardless of user OS preference.
    --footer-bg-color: rgb(var(--go-token-primary-900));
    --footer-text-color: rgb(var(--go-token-lightest));
    --footer-link-color: var(--footer-text-color);
    --footer-link-color-hover: rgb(var(--go-token-success-200));
    --footer-link-bg-color-hover: transparent;
  }
  go-nav-list {
    --nav-list-header-text-color: var(--footer-text-color);
  }
  a {
    --go-color-link: var(--footer-link-color);
    &:hover,
    &:focus-visible {
      --go-color-link-hover: var(--footer-link-color-hover);
      --go-color-link-hover-bg: var(--footer-link-bg-color-hover);
    }
  }
  .nav-container {
    padding: var(--footer-nav-section-padding);
  }
  .footer-bottom {
    border-top: 1px solid var(--go-color-neutral-300);
    padding: var(--footer-bottom-section-padding);
  }
  .copyright {
    border-top: 1px solid var(--go-color-neutral-300);
    padding: var(--footer-copyright-section-padding);
  }
}
