<div class="container">
  <!-- block -->
  <h3>Block</h3>
  <go-button style="margin-bottom: var(--go-size--1)" block color="primary">Block on all breakpoints</go-button>
  <go-button style="margin-bottom: var(--go-size--1)" block="mobile" color="primary">Block on mobile</go-button>
  <go-button style="margin-bottom: var(--go-size--1)" block="tablet" color="primary">Block on tablet</go-button>
  <go-button style="margin-bottom: var(--go-size--1)" block="desktop" color="primary">Block on desktop</go-button>
</div>
