<div class="container">
  <!-- block -->
  <p>Full width on all devices</p>
  <go-button block="all" color="primary">Button</go-button>

  <p>Full width on mobile, inline from tablet onwards</p>
  <go-button block="mobile" color="primary">Button</go-button>

  <p>Full width on mobile and tablet, inline from desktop onwards</p>
  <go-button block="tablet" color="primary">Button</go-button>

  <p>Full width on mobile, tablet and desktop, inline from large onwards</p>
  <go-button block="desktop" color="primary">Button</go-button>
</div>
