<div class="container">
  <!-- default variants -->
  <h3>Button variants</h3>
  <div class="row">
    <div class="col">
      <go-button variant="primary">Primary</go-button>
      <go-button variant="secondary">Secondary</go-button>
      <go-button variant="tertiary">Tertiary</go-button>
    </div>
  </div>

  <!-- block level buttons -->
  <h3>Block level buttons</h3>
  <go-button outlined block>Block all the way</go-button>

  <!-- button sizes -->
  <h3>Button sizes</h3>

  <!-- links styled as buttons -->
  <div class="row">
    <div class="col"></div>
  </div>
</div>
