
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<div class="container">
  <demo-playground
    tag="go-button"
    props="[
    {name: 'color', type: 'select', value: 'primary', 'options': ['primary','secondary','tertiary','critical']},
    {name: 'outline', type: 'boolean', value: false},
    {name: 'outlineFill', type: 'boolean', value: false},
    {name: 'flat', type: 'boolean', value: false},
    {name: 'disabled', type: 'boolean', value: false},
    {name: 'round', type: 'boolean', value: false},
    {name: 'compact', type: 'boolean', value: false},
  ]"
  >
    <go-button>Button</go-button>
  </demo-playground>


  <!-- block -->
  <h3>Block</h3>
  <go-button style="margin-bottom: var(--go-size--1)" block color="primary">Block on all breakpoints</go-button>
  <go-button style="margin-bottom: var(--go-size--1)" block="mobile" color="primary">Block on mobile</go-button>
  <go-button style="margin-bottom: var(--go-size--1)" block="tablet" color="primary">Block on tablet</go-button>
  <go-button style="margin-bottom: var(--go-size--1)" block="desktop" color="primary">Block on desktop</go-button>

  <h3>Icon</h3>
  <h4>Additional icon font CSS required.</h4>
  <go-button icon color="primary">
    <go-icon name="search" label="Icon with label"></go-icon>
  </go-button>

  <go-button icon outline color="primary">
    <go-icon name="search" label="Icon with label"></go-icon>
  </go-button>

  <go-button icon outline round color="primary">
    <go-icon name="search" label="Icon with label"></go-icon>
  </go-button>

  <go-button icon flat color="primary">
    <go-icon name="search" label="Icon with label"></go-icon>
  </go-button>
  <h3>Button vs links</h3>
  <p>While there are times when you want to style links as buttons, it's often not the right approach if you want to style buttons as links.</p>
  <go-button color="primary" href="https://google.com" target="_blank" rel="noopener noreferrer nofollow">I'm a link styled like a button</go-button>
</div>

</div>
