<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<div class="container">
  <p>Additional icon font CSS required, see source code for details.</p>
  <go-button icon aria-label="Search button" color="primary">
    <go-icon name="search"></go-icon>
  </go-button>

  <go-button icon aria-label="Search button" outline color="primary">
    <go-icon name="search"></go-icon>
  </go-button>

  <go-button icon aria-label="Search button" outline round color="primary">
    <go-icon name="search"></go-icon>
  </go-button>

  <go-button icon aria-label="Search button" flat color="primary">
    <go-icon name="search"></go-icon>
  </go-button>
</div>
