// form variables and mixins
@import 'variables';
@import 'mixins';

.go-field {
  @include field-container;
  &.error {
    @include error-state;
  }

  // apply padding on right
  @include icon-paddings;

  &.readonly {
    .lock-icon {
      fill: var(--input-text-readonly-color);
    }
    [slot='icon-after'] {
      display: none;
    }
  }
  &.disabled {
    @include disabled-state;
  }

  &.has-prefix,
  &.has-suffix {
    @include presuf-common;
  }
  &.has-prefix {
    @include prefix;
    &.has-icon-before {
      @include prefix-icon;
    }
  }
  &.has-suffix {
    @include suffix;
    &.has-icon-before {
      @include suffix-icon;
    }
  }
  .label-wrapper {
    @include label-wrapper;
  }
  .control-wrapper {
    position: relative;
  }

  .control {
    @include field-control;
  }

  .control-icon {
    @include control-icon;
  }

  .hint {
    @include hint;
  }

  .label {
    @include label;
  }
  .error-msg {
    @include error-msg;
  }
}

// hidden native control, such as checkbox, radio
.hidden-control {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
