go-button {
  // default colours
  --go-btn-bg-color: transparent;
  --go-btn-bg-color-hover: var(--go-color-neutral-100);
  --go-btn-bg-color-disabled: var(--go-color-neutral-200);
  --go-btn-text-color: rgb(var(--go-token-lightest));
  --go-btn-text-color-hover: rgb(var(--go-token-lightest));
  --go-btn-text-color-disabled: rgb(var(--go-token-lightest));

  // shadow
  --go-btn-shadow: var(--shadow-2);
  --go-btn-shadow-hover: var(--shadow-3);

  // default sizing
  --go-btn-padding-y: 0.8em;
  --go-btn-padding-x: 1.5em;
  --go-btn-inner-gap: 0.5rem;
  --go-btn-radius: var(--radius-2, 0.25rem);

  --go-btn-icon-size: 2.5em;

  display: inline-block;

  &.block {
    display: block;
  }
  // start block level on desktop
  &.block-desktop {
    display: block;
    @include min-query(large) {
      display: inline-block;
    }
  }
  &.block-tablet {
    display: block;
    @include min-query(desktop) {
      display: inline-block;
    }
  }
  &.block-mobile {
    display: block;
    @include min-query(tablet) {
      display: inline-block;
    }
  }

  // Colour variants
  &[color='primary'] {
    --go-btn-bg-color: var(--go-color-primary-600);
    --go-btn-bg-color-hover: var(--go-color-primary-500);
    --go-btn-bg-color-disabled: rgba(var(--go-token-primary-600), 0.5);
  }
  &[color='secondary'] {
    --go-btn-bg-color: var(--go-color-secondary-600);
    --go-btn-bg-color-hover: var(--go-color-secondary-500);
    --go-btn-bg-color-disabled: rgba(var(--go-token-secondary-600), 0.5);
  }
  &[color='danger'] {
    --go-btn-bg-color: var(--go-color-error-600);
    --go-btn-bg-color-hover: var(--go-color-error-500);
    --go-btn-bg-color-disabled: rgba(var(--go-token-error-600), 0.5);
  }
  &[color='tertiary'] {
    --go-btn-bg-color-hover: var(--go-color-neutral-300);
    --go-btn-bg-color-disabled: rgba(var(--go-token-neutral-200), 0.5);
    --go-btn-text-color: var(--go-color-text);
    --go-btn-text-color-hover: var(--go-color-text);
    --go-btn-text-color-disabled: rgba(var(--go-color-text), 0.5);
    .inner-button {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &[disabled] {
    --go-btn-bg-color: var(--go-btn-bg-color-disabled);
    --go-btn-text-color: var(--go-btn-text-color-disabled);
    .inner-button {
      cursor: not-allowed;
      box-shadow: none;
      &:hover,
      &:focus {
        background: var(--go-btn-bg-color-disabled);
        color: var(--go-btn-text-color-disabled);
        box-shadow: none;
        outline: none;
      }
    }
    &[color='tertiary'] {
      .inner-button {
        text-decoration: none;
      }
    }
  }

  &[outline] {
    .inner-button {
      background: transparent;
      border: 2px solid var(--go-btn-bg-color);
      color: var(--go-btn-bg-color);
      &:hover,
      &:focus-visible {
        background: var(--go-btn-bg-color);
        color: var(--go-btn-text-color);
      }
    }

    &[color='tertiary'] {
      --go-btn-bg-color: var(--go-color-neutral-700);
    }
  }

  &[flat] {
    .inner-button {
      box-shadow: none;
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  &[round] {
    .inner-button {
      border-radius: var(--radius-round);
    }
  }

  &[icon] {
    .inner-button {
      width: var(--go-btn-icon-size);
      height: var(--go-btn-icon-size);
      padding: 0;
      text-align: center;
      svg {
        width: calc(var(--go-btn-icon-size) / 3 * 2);
        height: calc(var(--go-btn-icon-size) / 3 * 2);
        margin: 0;
      }
    }
  }

  .inner-button {
    // reset button style
    @include reset-btn();
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--go-btn-inner-gap);
    width: 100%;
    text-align: center;
    background: var(--go-btn-bg-color);
    color: var(--go-btn-text-color);
    border-radius: var(--go-btn-radius);
    padding: var(--go-btn-padding-y, 0.5rem) var(--go-btn-padding-x, 1rem);
    box-shadow: var(--go-btn-shadow);
    text-underline-offset: 4px; // optimise for browsers that support it
    @include transition(background-color, color, box-shadow);

    &:hover,
    &:focus-visible {
      --go-btn-bg-color: var(--go-btn-bg-color-hover, #fff);
      --go-btn-text-color: var(--go-btn-text-color-hover, #000);
    }
    &:focus-visible {
      @include focus-outline;
    }
    &:active {
      box-shadow: var(--inner-shadow-3);
    }
  }
}
