go-button {
  // default colours
  --go-btn-bg-color: transparent;
  --go-btn-bg-color-hover: var(--go-color-neutral-100);
  --go-btn-bg-color-disabled: var(--go-color-neutral-200);
  --go-btn-text-color: #fff;
  --go-btn-text-color-hover: #fff;
  --go-btn-text-color-disabled: #fff;

  // shadow
  --go-btn-shadow: var(--shadow-2);
  --go-btn-shadow-hover: var(--shadow-3);

  // default sizing
  --go-btn-padding-y: 0.8em;
  --go-btn-padding-x: 1.5em;
  --go-btn-inner-gap: 0.5rem;
  --go-btn-radius: var(--radius-2, 0.25rem);
  --go-btn-icon-size: 2.5em;

  // outline fill color
  --go-btn-outline-fill-color: var(--go-color-bg);

  display: inline-block;

  &.block {
    display: block;
    width: 100%;
  }

  // start block level on desktop
  &.block-desktop {
    display: block;
    width: 100%;
    @include min-query(large) {
      display: inline-block;
      width: auto;
    }
  }
  &.block-tablet {
    display: block;
    width: 100%;
    @include min-query(desktop) {
      display: inline-block;
      width: auto;
    }
  }
  &.block-mobile {
    display: block;
    width: 100%;
    @include min-query(tablet) {
      display: inline-block;
      width: auto;
    }
  }

  // Colour variants
  &[color='primary'] {
    --go-btn-bg-color: var(--go-color-primary-600);
    --go-btn-bg-color-hover: var(--go-color-primary-500);
    --go-btn-bg-color-disabled: rgba(var(--go-token-primary-600), 0.5);
  }
  &[color='secondary'] {
    --go-btn-bg-color: var(--go-color-secondary-600);
    --go-btn-bg-color-hover: var(--go-color-secondary-500);
    --go-btn-bg-color-disabled: rgba(var(--go-token-secondary-600), 0.5);
  }
  &[color='critical'] {
    --go-btn-bg-color: var(--go-color-critical-600);
    --go-btn-bg-color-hover: var(--go-color-critical-500);
    --go-btn-bg-color-disabled: rgba(var(--go-token-critical-600), 0.5);
  }
  &[color='tertiary'] {
    --go-btn-bg-color-hover: var(--go-color-neutral-300);
    --go-btn-bg-color-disabled: rgba(var(--go-token-neutral-200), 0.5);
    --go-btn-text-color: currentColor;
    --go-btn-text-color-hover: currentColor;
    --go-btn-text-color-disabled: rgba(var(--go-color-text), 0.5);
  }
  &[disabled] {
    --go-btn-bg-color: var(--go-btn-bg-color-disabled);
    --go-btn-text-color: var(--go-btn-text-color-disabled);
    .inner-button {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: not-allowed;
      box-shadow: none;
      &:hover,
      &:focus {
        background: var(--go-btn-bg-color-disabled);
        color: var(--go-btn-text-color-disabled);
        box-shadow: none;
        outline: none;
      }
    }
  }

  &.outline {
    .inner-button {
      --go-btn-text-color: var(--go-btn-bg-color);

      background: transparent;
      border-color: var(--go-btn-bg-color);
      &:hover,
      &:focus-visible {
        background: var(--go-btn-bg-color);
        color: var(--go-btn-text-color);
      }
    }
    &[color='tertiary'] {
      --go-btn-bg-color: var(--go-color-neutral-700);
    }
  }

  &.outline-fill {
    .inner-button {
      background: var(--go-btn-outline-fill-color);
    }
  }

  &[flat] {
    .inner-button {
      box-shadow: none;
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  &[round] {
    .inner-button {
      border-radius: var(--radius-round);
    }
  }

  &[icon] {
    .inner-button {
      width: var(--go-btn-icon-size);
      height: var(--go-btn-icon-size);
      padding: 0;
      text-align: center;
    }
  }

  &[stack] {
    .inner-button {
      flex-direction: column;
    }
  }

  &[compact] {
    --go-btn-padding-y: 0.5em;
    --go-btn-padding-x: 0.8em;
    --go-btn-inner-gap: 0.125em;
    .inner-button {
      font-size: var(--go-size--1);
    }
  }

  .inner-button {
    // reset button style
    @include reset-btn;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--go-btn-inner-gap);
    width: 100%;
    text-align: center;
    background: var(--go-btn-bg-color);
    color: var(--go-btn-text-color);
    border: 2px solid transparent;
    border-radius: var(--go-btn-radius);
    padding: var(--go-btn-padding-y, 0.5rem) var(--go-btn-padding-x, 1rem);
    box-shadow: var(--go-btn-shadow);
    text-underline-offset: 4px; // optimise for browsers that support it
    font-weight: 500;
    @include transition(background-color, color, box-shadow);

    &:hover,
    &:focus-visible {
      --go-btn-bg-color: var(--go-btn-bg-color-hover, #fff);
      --go-btn-text-color: var(--go-btn-text-color-hover, #000);
    }
    &:focus-visible {
      @include focus-outline;
    }
    &:active {
      box-shadow: var(--inner-shadow-3);
    }

    svg {
      width: calc(var(--go-btn-icon-size) / 3 * 2);
      height: calc(var(--go-btn-icon-size) / 3 * 2);
      margin: 0;
    }
  }
}

:where([color-scheme='dark'], [data-theme='dark']) {
  go-button {
    &.outline {
      .inner-button {
        --go-btn-text-color: var(--go-color-text);
      }
    }
  }
}
