go-progress {
  --go-progress-color: var(--go-color-primary-600);
  --go-progress-height: 0.25rem;
  --go-progress-radius: var(--radius-round);
  --go-progress-track-color: var(--go-color-neutral-200);

  display: flex;
  align-items: center;
  gap: 0.5rem;
  .track {
    flex: 1;
    position: relative;
    height: var(--go-progress-height);
    background-color: var(--go-progress-track-color);
    border-radius: var(--go-progress-radius);
    overflow: hidden;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: var(--go-progress-color);
      border-radius: var(--go-progress-radius);
      transform: translateX(-100%);
      @include transition(transform);
    }
    &.indeterminate {
      .bar {
        border-radius: var(--go-progress-radius);
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
        background: linear-gradient(to right, transparent 0%, var(--go-progress-color) 30%, var(--go-progress-color) 70%, transparent 100%);
        transform-origin: left center;
        animation: indeterminate-progress 1.5s linear infinite;
        @include reduced-motion {
          animation: indeterminate-progress-rm 1.5s linear infinite alternate;
        }
      }
    }
  }
}
@keyframes indeterminate-progress {
  0% {
    transform: translateX(-100%) scaleX(0);
  }
  50% {
    transform: translateX(0) scaleX(80%);
  }
  100% {
    transform: translateX(150%) scaleX(0);
  }
}

@keyframes indeterminate-progress-rm {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
