<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script type="module">
  import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js';
</script>
<div class="container">
  <section class="row">
    <aside class="col-desktop-4">
      <div id="app">
        <h3>Change font sizes</h3>
        <div>
          <label label for="base-font-size">Base font size</label>
          <input type="text" id="base-font-size" v-model="baseFontSize" />
        </div>
        <div>
          <label label for="tablet-scale">Scale font size @ tablet breakpoint</label>
          <input type="number" step="0.01" id="tablet-scale" v-model="scaleTablet" />
        </div>
        <div>
          <label label for="desktop-scale">Scale font size @ desktop breakpoint</label>
          <input type="number" step="0.01" id="desktop-scale" v-model="scaleDesktop" />
        </div>
        <p>Copy this code into your stylesheet</p>
        <pre>
:root{
  --go-base-font-size: {{baseFontSize}};
  --go-font-tablet-scale: {{scaleTablet}};
  --go-font-desktop-scale: {{scaleDesktop}};
}
      </pre
        >
      </div>
    </aside>

    <main class="col-desktop-8">
      <h1>Heading level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>

      <p>
        Paragraph text: <strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet
        est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
        condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.
      </p>

      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>

      <blockquote>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec
          eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
        </p>
      </blockquote>
      <br />
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ul>

      <pre><code>
  #header h1 a {
    display: block;
    width: 300px;
    height: 80px;
  }
  </code></pre>
    </main>
  </section>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      baseFontSize: '1rem',
      scaleTablet: '1',
      scaleDesktop: '1.1',
    },
    watch: {
      baseFontSize: function (val) {
        document.documentElement.style.setProperty('--go-base-font-size', val);
      },
      scaleTablet: function (val) {
        document.documentElement.style.setProperty('--go-font-tablet-scale', val);
      },
      scaleDesktop: function (val) {
        document.documentElement.style.setProperty('--go-font-desktop-scale', val);
      },
    },
  });
</script>
