go-overlay {
  --go-overlay-color: rgba(var(--go-token-darkest), 0.8);
  --go-overlay-content-width: 80%;
  --go-overlay-content-padding-y: 1.5rem;
  --go-overlay-content-padding-x: 1.5rem;
  --go-overlay-content-bg-color: var(--go-color-bg);
  --go-overlay-close-btn-text-color: var(--go-color-text);
  --go-overlay-content-max-width: 1140px;

  /**
    @prop --go-overlay-content-gap:
      defines how much space to leave between window top and overlay content
      - default: 10vh
  */
  --go-overlay-content-gap: 10vh;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  overflow: auto;
  display: grid;
  place-items: center;

  .overlay-content {
    @include transition(opacity var(--go-duration-normal) var(--go-timing-function), visibility var(--go-duration-normal));

    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: var(--go-overlay-content-bg-color);
    padding: var(--go-overlay-content-padding-y) var(--go-overlay-content-padding-x);
    max-width: var(--go-overlay-content-max-width);
    @include tablet {
      width: var(--go-overlay-content-width);
      height: auto;
      margin: var(--go-overlay-content-gap) auto;
      border-radius: var(--radius-3);
    }
  }
  &.active {
    background: var(--go-overlay-color);
    width: 100%;
    height: 100%;
    .overlay-content {
      opacity: 1;
      visibility: visible;
    }
  }
  .close-btn-wrapper {
    text-align: right;
    go-button {
      --go-btn-text-color: var(--go-overlay-close-btn-text-color);
    }
  }
}
