@mixin animation($name, $fill-mode) {
  animation: #{$name} var(--go-duration-slow) var(--go-timing-function);
  animation-fill-mode: $fill-mode;
}
.animate-fade-in {
  @include animation(fade-in, forwards);
}
.animate-fade-out {
  @include animation(fade-out, forwards);
}

.stagger-fade-in {
  @include animation(fade-in, forwards);

  animation-delay: var(--stagger-delay);
}
.stagger-fade-out {
  @include animation(fade-out, forwards);

  animation-delay: var(--stagger-delay);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
