.color-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 8rem;
  width: 3rem;
  height: 3rem;
  border-radius: var(--go-border-radius-base);
  margin: 1rem auto;
  border: none;
  font-size: var(--go-text-size--1);
  box-shadow: var(--go-shadow-3);
}
