.color-generator-slider.swiper {
  .swiper-slide {
    padding: 2rem 8%;
  }
}

.color-box-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-y: hidden;
  gap: 0.5rem;
}
.color-box {
  display: block;
  text-align: center;
  flex: 1;
  p {
    margin-bottom: 0;
  }
}

.color-swatches {
  margin-bottom: 2rem;

  code {
    overflow: auto;
    white-space: nowrap;
  }
  h4 {
    margin-bottom: 0;
  }
  .color-category-name {
    display: block;
    margin-bottom: 8px;
  }

  label {
    display: block;
    font-weight: bold;
  }
  .color-input-group {
    display: inline-block;
    margin: 1rem auto;
    position: relative;
    input[type='color'] {
      appearance: none;
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .color-input-button {
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
      cursor: pointer;
      background: var(--go-color-lightest);
      border: none;
      box-shadow: var(--shadow-2);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &:hover,
      &:focus {
        box-shadow: var(--shadow-3);
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.color-table-wrapper {
  .color-table {
    th {
      background: var(--go-color-neutral-100);
    }
    th,
    td {
      font-size: var(--go-size--1);
      border: 1px solid var(--go-color-neutral-200);
    }
    td {
      text-align: center;
      padding: 0.25em 0;
    }
  }
}
