.color-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--radius-2);
  margin: 4px auto;
  border: 3px solid transparent;
  font-size: var(--go-size--1);
  box-shadow: var(--shadow-3);
  &.special {
    border-color: var(--go-color-success-300);
  }
}
