<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<div class="container">
  <go-banner style="margin-bottom: 1rem" variant="info" heading="Info heading">
    <go-icon decorative="true" slot="icon" name="lightbulb"></go-icon>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quis voluptatum commodi, earum laudantium dolorem deleniti animi, natus sed aperiam
    necessitatibus doloribus, laborum numquam atque voluptatem officia neque adipisci.
  </go-banner>
  <go-banner style="margin-bottom: 1rem" variant="success" heading="Success heading">
    <go-icon decorative="true" slot="icon" name="check_circle_outline"></go-icon>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quis voluptatum commodi, earum laudantium dolorem deleniti animi, natus sed aperiam
    necessitatibus doloribus, laborum numquam atque voluptatem officia neque adipisci.
  </go-banner>
  <go-banner style="margin-bottom: 1rem" variant="critical" heading="Critical heading">
    <go-icon decorative="true" slot="icon" name="error_outline"></go-icon>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quis voluptatum commodi, earum laudantium dolorem deleniti animi, natus sed aperiam
    necessitatibus doloribus, laborum numquam atque voluptatem officia neque adipisci.
  </go-banner>
</div>
