go-main-nav {
  --nav-item-text-color: var(--go-color-darkest);
  --nav-item-bg-color: var(--go-color-lightest);
  --nav-item-hover-bg-color: var(--go-color-neutral-200);
  --nav-item-padding: var(--go-size--1) var(--go-size-0);
  --nav-item-icon-gap: 0.5rem;
  --nav-shadow: var(--shadow-2);
  --submenu-bg-color: var(--go-color-lightest);
  --submenu-padding-y: var(--go-size-0);
  --submenu-padding-x: var(--go-size-1);
  --submenu-max-height: 8rem;

  display: block;
  nav {
    .nav-menu-root {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: nowrap;
      position: relative;
      box-shadow: var(--nav-shadow);
    }
    .nav-item {
      .nav-item-inner {
        @include reset-btn;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--nav-item-padding);
        color: var(--nav-item-text-color);
        text-decoration: none;
        background: var(--nav-item-bg-color);
        border-bottom: var(--nav-item-current-bar-width) solid transparent;
        &:hover,
        &:focus {
          background: var(--nav-item-hover-bg-color);
        }

        svg {
          @include transition(transform);

          margin-left: 0.5rem;
          width: 1.25em;
          height: 1.25em;
          transform: translateX(0);
        }

        .nav-item-label {
          display: flex;
          align-items: center;
          gap: var(--nav-item-icon-gap);
        }
      }

      &.current {
        .nav-item-inner {
          cursor: inherit;
          &:hover,
          &:focus {
            background: var(--nav-item-bg-color);
          }
        }
      }

      .parent-link {
        svg {
          width: 40px;
        }
      }

      // new structure
      .submenu-container {
        @include transition(opacity, visibility);

        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        box-shadow: var(--nav-shadow);
        padding: var(--submenu-padding-y) var(--submenu-padding-x);
        background: var(--submenu-bg-color);
        transform: translateY(-1px);
        > .submenu-header {
          border-bottom: 1px solid red;
          margin-bottom: 20px;
        }
        .submenu-list {
          max-height: var(--submenu-max-height);
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
      }
      &.active {
        .nav-item-inner {
          svg {
            transform: rotate(180deg);
          }
        }
        .submenu-container {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
